.mdgg-bold {
  font-weight: bold;
  font-size: 1.2rem;
}

.mdgg-modal-bg {
  background: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.mdgg-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0.805rem 1.61rem;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background: white;
  border: #dedede;
  border-radius: 5px;
  z-index: 9999;
}

.mdgg-modal form,
.mdgg-modal label {
  display: flex;
  flex-direction: column;
}

.mdgg-modal input {
  border: 1px solid #dedede;
  border-radius: 3px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.mdgg-modal button {
  display: inline-block;
  width: 150px;
  font-size: 1rem;
  background: #f17e00;
  background: linear-gradient(90deg, #f17e00 0%, #f59328 100%);
  color: white;
  border: none;
  text-align: center;
  padding: 0.875rem 0;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 15px;
}

.mdgg-modal a {
  font-size: 0.875rem;
}

#mdgg-player {
  position: relative;
}

.mdgg-video-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 1rem;
  background: #f17e00;
  color: white;
}

.mdgg-warning {
  color: red;
  font-style: italic;
}
